<section class="py-4 md:py-6 px-4 bg-amber-200 rounded-lg <%= @centered ? 'text-center' : '' %>">
  <% if title %>
    <div class="text-xl md:text-2xl font-bold text-gray-900 mb-2 md:mb-3">
      <%= title %>
    </div>
  <% end %>

  <% if subtitle %>
    <div class="text-base md:text-lg text-gray-700">
      <%= subtitle %>
    </div>
  <% end %>

  <%= content %>
</section>
