<% if opponents.any? %>
  <div class="flex items-center justify-end space-x-1">
    <% opponents.each_with_index do |opponent, index| %>
      <% if index > 0 %>
        <span class="text-xs text-gray-400">,</span>
      <% end %>
      <span class="text-xs text-gray-700"><%= opponent[:team].short_name %></span>
      <span class="text-xs text-gray-400">(<%= opponent[:home] ? 'H' : 'A' %>)</span>
    <% end %>
  </div>
<% end %>
