<span class="inline-flex items-center" title="<%= name %>">
  <span class="text-base md:text-lg"><%= symbol %></span>
  <% if show_name? %>
    <span class="ml-1 text-xs text-gray-500"><%= name %></span>
  <% end %>
</span>
